.button {
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    margin: 7px;
    font-weight: bold;
}

.button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.success {
    color: #8b7013;
}

.danger {
    color: #944317;
}